body{
        background-color: #2362cc;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero{
    background-color: #ffffff;
        border-radius: 5px;
            padding: 3%;
                width: 20%;
                margin-top: 7%;

}
.error{
    color: red;
    font-style: italic;
    font-size: 14px;
}
.main{
    display: flex;
    justify-content: center;
}
.input{
    display: flex;
    gap: 10px;
        margin-bottom: 15%;

}

.addtaskbtn{
    background-color: #2c6bec;
    color: white;
    border-style: none;
    border-radius: 5px;
    border-radius: 5px;
    padding: 2%;
        padding: 3% 7%;
}
.inputtext{
      border-radius: 4px;
    padding: 2%;
    border-color: #447cc6;
}

.inputtext:focus{
    border-color: #2362cc;

}

.task ul {
    list-style: none;
}

.task ul li {
    background-color: #c5e1e5;
    border: 2px solid #c9d1d4;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 2% 3%;
        width: 100%;
    margin-left: -15%;
    margin-top : 5%;
        padding-top: 3%;

}
.removetaskbtn ,.btn{
    background-color: #1d1ba3;
    width: fit-content;
    border-style: none;
    border-radius: 5px;
    padding: 2%;
    color: white;
    height: 30px;
    width: 30px;
}
.btns{
        display: flex;
    justify-content: space-between;
    width: 30%;

}